@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TT_Lakes_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TT_Lakes_Condensed_Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TT_Lakes_Compressed_Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.body {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
}

.side-menu {
    display: flex;
    width: 320px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
    box-shadow: 15px 0 55px 0 rgba(14, 24, 80, 0.20), -2px 0 7px 0 rgba(69, 79, 126, 0.02);
}

.top-menu {
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 78px;
}

.items-left__list {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 0;
}

.menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 270px;
}

.main-menu {
    padding: 0;
    margin: 0;
}

.main-menu__list {
    display: flex;
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
    /*gap: 31px;*/
}

.main-menu__list-item {
    position: relative;
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-menu__list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    height: 100%;
    width: 4px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.main-menu__list-item:hover {
    color: #7E7E82;
    background-color: #FFFFFF; /* Change the background color on hover */
}

.main-menu__list-item:hover::before {
    border-radius: 10px;
    background-color: #41F6D7; /* Change the line color on hover */
}

.footer-menu {
    display: flex;
    padding-left: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.footer-menu__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.footer-menu__list{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.email-link {
    text-decoration: none;
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.phone-link {
    color: #1B1C21;
    text-decoration: none;
    font-family: "TT Lakes", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.footer-menu__lang{
    display: flex;
}

.footer-menu__lang-switch[type="radio"] {
    display: none;
}

.lang-switch_label {
    padding: 0 8px;
    cursor: pointer;
}

.footer-menu__lang-switch[type="radio"]:checked + .lang-switch_label {
    color: #7E7E82;
}

